@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@source "../node_modules/flowbite";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: Mokoto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/mokoto/ttf/mokoto-mokoto-regular-400.ttf")
    format("truetype");
}

@font-face {
  font-family: Azeret;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Azeret_Mono/astatic/AzeretMono-Regular.ttf")
    format("truetype");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-mokoto: "Mokoto", "sans-serif";
  --font-azeret: "Azeret Mono", monospace;
}

@theme {
  --color-redark-navy: #110b34;
  --color-redark-purple: #8c52ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.adjust-mokoto {
  transform: translateY(0.5em);
}

[data-testid="flowbite-dropdown"] {
  background-color: #471e93 !important;
  color: white;
  border-radius: 20px;
  margin-top: 0.5rem;
  padding: 0.5rem 2rem;
  z-index: 50;
  max-width: 100px !important;
  height: fit-content !important;
}

@media (width <= 48rem) { 
  [data-testid="flowbite-dropdown"] {
      padding: 0;
  }
 }

[data-testid="flowbite-dropdown"] > ul > li > button:hover {
  background-color: #8c52ff;
  border-radius: 20px;
}